* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 1rem;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
  border: solid 1px green;
}

.header__top {
  display: flex;
  justify-content: space-around;
}

.header__bottom {
  display: flex;
  justify-content: space-around;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav__li {
  display: inline-block;
}

.nav__links {
  color: black;
  padding: 0px 8px;
}

main {
  grid-area: main;
  border: solid 1px red;
  width: 70%;
  margin: auto;
}

.hero {
  border: solid 1px khaki;
  width: 100%;
}

.hero__banner {
  height: 400px;
  width: 100%;
  background-color: hotpink;
}

.sale__headings {
  display: flex;
  justify-content: space-evenly;
  margin: 8px 0px;
}

.sale1 {
  flex: 1;
}
.sale2 {
  flex: 1;
}
.sale3 {
  flex: 2;
}

.games {
  display: grid;
  grid-gap: 16px;
  grid-template-areas:
    "box1 box2 box3 box4"
    "box1 box5 box6 box7";
}

.box1 {
  background-color: lemonchiffon;
  height: 100%;
  grid-area: box1;
}
.box2 {
  background-color: lightpink;
  height: 200px;
  grid-area: box2;
}
.box3 {
  background-color: lightgreen;
  height: 200px;
  grid-area: box3;
}
.box4 {
  background-color: lightseagreen;
  height: 200px;
  grid-area: box4;
}
.box5 {
  background-color: lightsteelblue;
  height: 200px;
  grid-area: box5;
}
.box6 {
  background-color: limegreen;
  height: 200px;
  grid-area: box6;
}
.box7 {
  background-color: lightsalmon;
  height: 200px;
  grid-area: box7;
}

.recommended {
  height: 200px;
  display: grid;
  grid-gap: 16px;
  grid-template-areas: "recommendedOne recommendedTwo recommendedThree recommendedFour";
}

.recommendedOne {
  grid-area: recommendedOne;
  background-color: teal;
}

.recommendedTwo {
  grid-area: recommendedTwo;
  background-color: yellow;
}

.recommendedThree {
  grid-area: recommendedThree;
  background-color: lightblue;
}

.recommendedFour {
  grid-area: recommendedFour;
  background-color: orange;
}

footer {
  grid-area: footer;
  margin-top: 32px;
  grid-area: footer;
  height: 100px;
  align-items: center;
  display: flex;
  background-color: #6a6a6a;
  flex-direction: column;
}

.footer__flex {
  display: flex;
  flex-wrap: wrap;
}

.footer__nav {
  width: 50%;
}
.footer__icons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.footer__icons--list {
  display: inline-block;
  margin-left: 16px;
}
.footer__icons--a {
  color: white;
}

.footer__nav__li {
  display: inline-block;
  margin-right: 16px;
}

.footer__link {
  color: lightgrey;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  header {
    flex-wrap: wrap;
  }

  main {
    width: 100%;
  }

  .logo {
    width: 100%;
    border: solid 1px magenta;
  }
  .search {
    width: 100%;
    border: solid 1px hotpink;
  }
  .icons {
    width: 100%;
    border: solid 1px forestgreen;
  }

  .games {
    grid-gap: 10px;
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4"
      "box5"
      "box6"
      "box7";
  }

  .box1 {
    height: 200px;
  }
}
