* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}
header {
  grid-area: header;
  background-color: purple;
  display: flex;
}

.header__nav {
  border: pink 2px solid;
}

.nav__li {
  display: inline-block;
}

.nav__links {
  color: white;
}

.logo__img {
  width: 200px;
}

main {
  grid-area: main;
  width: 100%;
  display: grid;
  justify-content: center;
}

section {
  width: 1000px;
}

.hero__banner {
  height: 500px;
  width: 100%;
  background-color: hotpink;
}

.games {
  height: 460px;
  display: grid;
  grid-gap: 16px;
  grid-template-areas:
    "main-game gameOne gameTwo gameThree"
    "main-game gameFour gameFive gameSix";
}

.main-game {
  background-color: rosybrown;
  grid-area: main-game;
}

.gameOne {
  background-color: rosybrown;
  grid-area: gameOne;
}

.gameTwo {
  background-color: yellow;
  grid-area: gameTwo;
}

.gameThree {
  background-color: pink;
  grid-area: gameThree;
}

.gameFour {
  background-color: purple;
  grid-area: gameFour;
}

.gameFive {
  background-color: orange;
  grid-area: gameFive;
}

.gameSix {
  background-color: gray;
  grid-area: gameSix;
}

.recommended {
  height: 260px;
  display: grid;
  grid-gap: 16px;
  grid-template-areas: "recommendedOne recommendedTwo recommendedThree recommendedFour";
}

.recommendedOne {
  grid-area: recommendedOne;
  background-color: teal;
}

.recommendedTwo {
  grid-area: recommendedTwo;
  background-color: yellow;
}

.recommendedThree {
  grid-area: recommendedThree;
  background-color: lightblue;
}

.recommendedFour {
  grid-area: recommendedFour;
  background-color: orange;
}

footer {
  grid-area: footer;
  height: 100px;
  display: grid;
  background-color: green;
  grid-template-areas: "footer__nav" "footer__nav__legal";
  justify-content: center;
}

.footer__nav {
  border: solid 2px hotpink;
  grid-area: footer__nav;
}

.footer__nav__legal {
  border: solid 2px red;
  grid-area: footer__nav__legal;
}

.footer__nav__li {
  display: inline-block;
  margin-right: 16px;
}
.footer__link {
  color: lightgrey;
}
