* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 26px;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

header {
  position: sticky;
  top: 0px;
  left: 0px;
  grid-area: header;
  background-color: rgba(14, 46, 94, 0.9);
  margin-bottom: 36px;
}

.header__top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo__img {
  width: 150px;
}

.nav__searchbar {
  width: 700px;
  height: 50px;
}

.header__icons {
  color: white;
}

.fa-shopping-cart,
.fa-user,
.fa-bell {
  font-size: 40px;
  padding: 0px 8px;
}

.header__nav {
  background-color: rgba(27, 32, 61, 0.9);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 650;
}

.nav__li {
  display: inline-block;
}

.nav__links {
  color: white;
  padding: 0px 8px;
}

main {
  grid-area: main;
  width: 100%;
  display: grid;
  justify-content: center;
}

section {
  width: 1000px;
}

.hero__banner {
  height: 500px;
  width: 100%;
  background-color: hotpink;
}

.sale__headings {
  display: flex;
  justify-content: space-evenly;
  margin: 8px 0px;
}

.sale1 {
  flex: 1;
}
.sale2 {
  flex: 1;
}
.sale3 {
  flex: 2;
}

.games {
  height: 460px;
  display: grid;
  grid-gap: 16px;
  grid-template-areas:
    "main-game gameOne gameTwo gameThree"
    "main-game gameFour gameFive gameSix";
}

.main-game {
  background-color: rosybrown;
  grid-area: main-game;
}

.gameOne {
  background-color: rosybrown;
  grid-area: gameOne;
}

.gameTwo {
  background-color: yellow;
  grid-area: gameTwo;
}

.gameThree {
  background-color: pink;
  grid-area: gameThree;
}

.gameFour {
  background-color: purple;
  grid-area: gameFour;
}

.gameFive {
  background-color: orange;
  grid-area: gameFive;
}

.gameSix {
  background-color: gray;
  grid-area: gameSix;
}

.home__recommended {
  margin: 8px 0px;
}

.recommended {
  height: 260px;
  display: grid;
  grid-gap: 16px;
  grid-template-areas: "recommendedOne recommendedTwo recommendedThree recommendedFour";
}

.recommendedOne {
  grid-area: recommendedOne;
  background-color: teal;
}

.recommendedTwo {
  grid-area: recommendedTwo;
  background-color: yellow;
}

.recommendedThree {
  grid-area: recommendedThree;
  background-color: lightblue;
}

.recommendedFour {
  grid-area: recommendedFour;
  background-color: orange;
}

footer {
  margin-top: 32px;
  grid-area: footer;
  height: 100px;
  display: grid;
  background-color: green;
  grid-template-areas: "footer__nav footer__icons" "footer__nav__legal";
  justify-content: center;
}

.footer__nav {
  border: solid 2px hotpink;
  grid-area: footer__nav;
}

.footer__nav__legal {
  border: solid 2px red;
  grid-area: footer__nav__legal;
}

.footer__nav__li {
  display: inline-block;
  margin-right: 16px;
}

.footer__link {
  color: lightgrey;
}

.footer__icons {
  grid-area: footer__icons;
  border: lime 2px solid;
}
