body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.home__main {
  grid-area: main;
  width: 70%;
  margin: auto;
}

.hero {
  width: 100%;
}

.hero__banner {
  height: 550px;
  width: 100%;
  background-image: url(/img/Cyberpunk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__banner:hover {
  background-size: 90%;
}

.sale__headings {
  display: flex;
  justify-content: space-evenly;
  margin: 8px 0px;
}

.sale1,
.sale2 {
  flex: 1;
}
.sale3 {
  flex: 2;
}
.sale1:hover,
.sale2:hover,
.sale3:hover {
  font-weight: bold;
}
.home__underline {
  border-top: solid 1px var(--underline-colour);
  width: 100%;
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}
.featuredGames {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.gameCard {
  height: 250px;
  width: 325px;
  margin: 5px;
}
.cardMain {
  min-width: 300px;
  height: 515px;
}
.gameCards {
  display: flex;
  flex-wrap: wrap;
}
.gameCardImg {
  width: 100%;
  height: 100%;
}

.recommended {
  margin: 8px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.recommendedCard {
  margin: 5px;
}
.recommendedIMG {
  height: 300px;
  width: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
}

.recommendedOne,
.recommendedTwo,
.recommendedThree,
.recommendedFour {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
}
@media (max-width: 1200px) /*Desktop*/ {
  .home__main {
    width: 90%;
  }
}

@media (max-width: 991px) /*Tablet*/ {
  .home__main {
    width: 100%;
  }
}

@media (max-width: 767px) /*Mobile*/ {
  .home__main {
    width: 100%;
  }

  .sale__headings {
    display: flex;
    flex-wrap: wrap;
  }
  .sale3 {
    flex: 1;
  }
  .featuredGames {
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    grid-template-areas:
      "featured1 featured1"
      "featured2 featured3"
      "featured4 featured5"
      "featured6 featured7";
  }
  .recommended {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-areas:
      "recommendedOne recommendedTwo"
      "recommendedThree recommendedFour";
  }
  .footer__flex {
    width: 100%;
  }
}
