:root {
  --button-Abackground: #3a547c;
  --button-Bbacground: #848484;
  --button-Cbackground: #0e2e5f;
  --button-Dbackground: green;
  --button-color: white;
  --form-background: #eaeaea;
  --form-border: #707070;
  --underline-colour: #848484;
  --button-Cbackground: #0e2e5f;
  --footer-textcolor: #eaeaea;
}
